.place {
    gap: 40px 48px;
    display: grid;
    grid-template-areas:
        "title website"
        "image paragraph";
}

@media (max-width: 1270px) {

    .place {
        gap: 48px 32px;
    }
}

@media (max-width: 1020px) {
    .place {
        gap: 48px 28px;
    }
}

@media (max-width: 760px) {

    .place {
        gap: 32px;
        grid-template-areas:
            "title "
            "website"
            "image"
            "paragraph";
    }
}